.registrar{
  margin: auto;
  max-width: 500px;
}
.btnRegistro{
  background-color:rgb(250, 85, 8);
  border: 1px solid lightseagreen;
}

@media (min-width:260px) and (max-width:750px){
.registrar{
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
}
.img-inicio{
  height: 180px;
 
}
.padreInicio{
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
background-image: url(../src/img/fondo-app-final.png);
  /* background-image: url(https://images.unsplash.com/photo-1554260570-83dc2f46ef79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80); */



}
.padreInicio:before{
  content: "";
  background-color: rgba(59, 96, 175, 0.89);
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}
.btn-inicio2{
background-color: white !important;
border: solid 1px rgb(250, 85, 8);
color: rgb(250, 85, 8);
border-radius: 15px;
opacity: 0.7;



}
.btn-inicio1{
  background-color: rgb(250, 85, 8) !important;
  border: solid 1px black;
  border-radius: 15px;
  bottom: 30px;
  opacity: 0.7;
  
}
.padreInicio .btn-inicio1, h1, .btn-inicio2{
  position: relative !important;
  
}
.content-vacio{
  height: 150px;
  
}
}
